<component name="ArtifactManager">
  <artifact type="exploded-ear" name="springtest:ear exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springtest_ear_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springtest/javaeeApplication/javaEEApplication" />
      <element id="directory" name="web.war">
        <element id="artifact" artifact-name="springtest:war exploded" />
      </element>
    </root>
  </artifact>
</component>